<!DOCTYPE html>
<html>

<head>
	<title> MEDICAL INSURANCE CHARGE CALCULATION </title>
</head>

<body>
	<h2>MEDICAL INSURANCE CHARGE CALCULATION</h2>
	<form action="/charge">
		age: <input type="text" name="age"  size="10"><br><br>
        sex:<input type="text" name="sex"   size="10"> <br><br>
		bmi: <input type="number" name="bmi" size="10"><br><br>
		children: <input type="text" name="children"  size="10"><br><br>
        smoker:<input type="text" name="smoker"   size="10"> <br><br>
		region: <input type="text" name="region" size="10"><br><br>
		<input type="submit" name="submit" value="Submit">
		
	</form>
</body>

</html>
